<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tic_Tac_Toe_WF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <Tic_Tac_Toe_WF.Properties.Settings>
      <setting name="darkmode_checked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_music" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enable_sounds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="downloaded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="options_clicked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="popup_showed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="player_1_stats" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="player_2_stats" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="color_playerX" serializeAs="String">
        <value>ControlLight</value>
      </setting>
      <setting name="color_playerO" serializeAs="String">
        <value>ControlLight</value>
      </setting>
    </Tic_Tac_Toe_WF.Properties.Settings>
  </userSettings>
</configuration>